<div class='image-parent'>
    <img src='http://localhost:3000/assets/img/title.png' class='main-title' alt='title'>
</div>

<div class='menu'> Menu </div>

<!-- Swiper -->
<div class='swiper-container'>
    <div class='swiper-wrapper'>
        <div id='MenuItem1' class='swiper-slide' style='background-image:url(assets/img/pancake.jpg)'></div>
        <div id='MenuItem2' class='swiper-slide' style='background-image:url(assets/img/pancake.jpg)'></div>
        <div id='MenuItem3' class='swiper-slide' style='background-image:url(assets/img/pancake.jpg)'></div>
        <div id='MenuItem4' class='swiper-slide' style='background-image:url(assets/img/pancake.jpg)'></div>
        <div id='MenuItem5' class='swiper-slide' style='background-image:url(assets/img/pancake.jpg)'></div>
        <div id='MenuItem6' class='swiper-slide' style='background-image:url(assets/img/pancake.jpg)'></div>
        <div id='MenuItem7' class='swiper-slide' style='background-image:url(assets/img/pancake.jpg)'></div>
    </div>
    <!-- Add Pagination -->
    <div class='swiper-pagination'></div>
</div>


<ul>
    {{#each burgers}}
    {{#unless devoured}}

    <li>
        <p>{{this.id}} {{this.burger_name}} </p>
        <button data-id='{{this.id}}' data-devoured='{{this.devoured}}' class='devour'> Devour Meal <i
                class="fas fa-utensils"></i></button>
    </li>

    {{/unless}}
    {{/each}}
</ul>


<ul>
    {{#each burgers}}
    {{#if devoured}}

    <li>
        <p>{{this.id}} {{this.burger_name}} </p>
        <button data-id='{{this.id}}' data-devoured='{{this.devoured}}' class='delete'> Clear Up Meal </button><i
            class="fas fa-utensils"></i>
    </li>

    {{/if}}
    {{/each}}
</ul>